<div class="background">
    <img class="bienvenue" src="./assets/bienvenue.png" alt="bienvenue">
    <img class="bateau" src="./assets/ship.gif" alt="bateau">
    <h4>
        Hissez ho matelots, et bienvenue sur <span class="red" style="display: inline;">RelationShip</span>, le site de référence en matière de mise en relation clients pirates. 
        Vous avez une tâche périlleuse à accomplir et vous ne voulez pas prendre le risque d’aller nourrir les poissons ? Inscrivez-vous morbleu, et recrutez des capitaines de renom pour vos dangereuses missions. 
        Vous êtes un capitaine pirate en quête de réputation et d’or ? <br/><br/>Inscrivez-vous et parez à mouiller pour de nouvelles aventures enrichissantes. 
        Notre système d'enchères dégressives unique en son genre saura satisfaire capitaines et clients pour une collaboration optimale (toute ressemblance avec un animé serait fortuite bande de gredins). 
        Alors pourquoi ne pas nous rejoindre ? La question est vite répondue, c'est aussi évident qu’un trois mâts dans une piscine gonflable. Levez l’ancre avec nous sur <span class="red" style="display: inline;">RelationShip</span> !
    </h4>

    <div class="doubleBlock">
        <div class="connexion">
            <a class="nav-link" [routerLink]="['/connexion']" routerLinkActive="active"><img class="chad" src="./assets/chad.png"><img class="chad2" src="./assets/chad2.png"></a>
        </div>

        <div class="inscription">
            <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active"><img class="bob" src="./assets/bob.png"><img class="bob2" src="./assets/bob2.png"></a>
        </div>
    </div>
</div>

  