<ul class="nav nav-pills m-5">
    <div class = doubleBlock>

   
    <div class ="connexion">
        <div> Image gigaChad</div>
        <div>
             <a class="nav-link" [routerLink]="['/connexion']" routerLinkActive="active">Connexion</a>

        </div>
    </div>

    <div class ="inscription">
        <div> Image unga bunga</div>
        <div>
             <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active">S'inscrire</a>

        </div>
    </div>
</div>

</ul>


