<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libellé</th>
            <th>Durée</th>
            <th>Lieu</th>
            <th>Difficulte</th>
            <th>Date</th>
            <th>Capitaine</th>
            <th>Client</th>
            <th>Enchere</th>
            <th>Statut</th>
            <th>Bateau</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let mission of missions">
            <td>{{mission.id}}</td>
            <td>{{mission.libelle}}</td>
            <td>{{mission.duree}}</td>
            <td>{{mission.lieu}}</td>
            <td>{{mission.difficulte}}</td>
            <td>{{mission.date}}</td>
            <td>capitaine</td>
            <td>client</td>
            <td>enchere</td>
            <td>{{mission.statut}}</td>
            <td>bateau</td>
            <td>
                <div class="btn-group btn-group-sm">
                </div>
            </td>
        </tr>
    </tbody> 

</table> -->

<meta charset="UTF-8">
	<title>Enchères</title>
	<link rel="stylesheet" type="text/css" href="missions-pirate.component.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Livvic&display=swap">

<div class ="background">
<!-- Menu -->
<div id="menu">
  <div id="logo">
    <img src="assets/img/logob.png" alt="Logo" height="80px">
  </div>
<div id="search">
  <form>
    <span><img src="assets/img/loupe.png" alt="recherche"></span>
    <input type="text" placeholder="Rechercher...">
    <button type="submit"><img src="assets/img/submit.png" alt="Submit"></button>
  </form>
</div>

  <div id="icons">
<a href="#" class="menu-link"><img src="assets/img/menu_accueil.png" alt="Accueil" class="overlay-accueil"></a>
<a href="#" class="menu-link"><img src="assets/img/menu_enchere.png" alt="Enchères" class="overlay-enchere"></a>
<a href="#" class="menu-link"><img src="assets/img/menu_missions.png" alt="Mission" class="overlay-mission"></a>
<a href="#" class="menu-link"><img src="assets/img/menu_plus.png" alt="Plus" class="overlay-plus"></a>
  </div>
</div>
<div class="container">
		<div class="text-container">
			Enchère
		</div>
		<div class="image-container">
			<img src="assets/img/enchere.png" alt="Enchère Image">
		</div>
		<div class="text-container">
			Et en <img src="assets/img/os.png" height=43px>s
		</div>
	</div>
			<table>
			  <thead>
			    <tr>
			      <th>Numero</th>
			      <th>Client</th>
			      <th>Montant de base</th>
			      <th>Créée le</th>
			      <th>Dernière enchère</th>
			      <th>Proposée le</th>
			      <th>Finit dans</th>
			      <th>Plus d'info<br/>Enchérir</th>
			    </tr>
			  </thead>
			  <tbody colspan="8">
			    <tr>
			      <td>1</td>
			      <td>John Doe</td>
			      <td>100 €</td>
			      <td>22/03/2023</td>
			      <td>150 €</td>
			      <td>23/03/2023</td>
			      <td>2 jours</td>
			      <td><a href="encheres/1"><img src="assets/img/plus2.png" alt="voir plus" align="center" height="30px"></a></td>
			    </tr>
<tr class="extra-info">
  <td colspan="8">Capitaine, mon capitaine On a besoin de vous pour nous guider</td>
</tr>

			    <tr>
			      <td>2</td>
			      <td>Jane Doe</td>
			      <td>50 €</td>
      <td>21/03/2023</td>
      <td>75 €</td>
      <td>22/03/2023</td>
      <td>1 jour</td>
      <td><a href="encheres/1"><img src="assets/img/plus2.png" alt="voir plus" align="center" height="30px"></a></td>
    </tr>
    <tr class="extra-info">
      <td colspan="8">Retrouvez les bâtonnets de colins, croustillants et savoureux, tout l'or du capitaine! </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Jane Doe</td>
      <td>50 €</td>
      <td>21/03/2023</td>
      <td>75 €</td>
      <td>22/03/2023</td>
      <td>1 jour</td>
      <td><a href="encheres/1"><img src="assets/img/plus2.png" alt="voir plus" align="centrer" height="30px"></a></td>
    </tr>
    <tr class="extra-info">
      <td colspan="8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    </tr>
  </tbody>
</table>
		
</div>
