<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Fournisseur</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let produit of list()">
            <td>{{produit.id}}</td>
            <td>{{produit.libelle}}</td>
            <td>{{produit.prix}}</td>
            <td>{{produit.fournisseur?.id}} - {{produit.fournisseur?.nom}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                </div>
            </td>
        </tr>
    </tbody>

</table>
