
  <div class="background" >
  <div class="connexion-component login-page">
    <img src="./assets/logo_deco.png" alt="logo">
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <div *ngIf="submitted && usernameCtrl?.hasError" class="invalid-feedback">
            <div *ngIf="usernameCtrl.dirty || usernameCtrl?.hasError('required')" style="color: red; font-weight: bold;">Le nom d'utilisateur est obligatoire !</div>
        </div>
          <input type="text" name="username" formControlName="username" class="form-control" placeholder="Identifiant">
          <label for="username" class="label" color="black"></label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <div *ngIf="submitted && passwordCtrl?.hasError" class="invalid-feedback">
            <div *ngIf="passwordCtrl.dirty || passwordCtrl?.hasError('required')" style="color: red; font-weight: bold;">Le mot de passe est obligatoire !</div>
        </div>

          <input type="password" name="password" formControlName="password" class="form-control" placeholder="Mot de passe">

          <label for="password" class="label"></label>
          <div class="bar"></div>
        </div>
        <div class="form-group">
        <button type="submit"><span>Connexion</span><span id="submit-button"></span></button>
      </div>
      <br/>
      <div>
        <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active">Pas encore inscrit moussaillon? Fonce marin d'eau douce!</a>
      </div>
      </form>
    </div>
  </div> 

