<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Enchères</title>
  <link rel="stylesheet" type="text/css" href="connexion.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Livvic&display=swap">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <div class="connexion-component login-page">
    <img src="./assets/logo_deco.png" alt="logo">
    <div class="container">
      <form>
        <div class="input-container">
          <input type="text" name="username" id="username" required>
          <label for="username" class="label">Identifiant</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" name="password" id="password" required>
          <label for="password" class="label">Mot de passe</label>
          <div class="bar"></div>
        </div>
        <button type="submit"><span>Connexion</span><span id="submit-button"></span></button>
      </form>
    </div>
  </div>  
</body>
</html>
