<div class="background">
	<!-- Menu -->
	<div id="menu">
		<div id="logo">
			<img src="assets/img/logob.png" alt="Logo" height="80px">
		</div>
		<div id="search">
			<form>
				<span><img src="assets/img/loupe.png" alt="recherche"></span>
				<input type="text" placeholder="Rechercher...">
				<button type="submit"><img src="assets/img/submit.png" alt="Submit"></button>
			</form>
		</div>

		<div id="icons">
			<a href="#" class="menu-link"><img src="assets/img/menu_accueil.png" alt="Accueil"
					class="overlay-accueil"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_enchere.png" alt="Enchères"
					class="overlay-enchere"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_missions.png" alt="Mission"
					class="overlay-mission"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_plus.png" alt="Plus" class="overlay-plus"></a>
		</div>
	</div>
	<div class="container">
		<div class="text-container">
			Missions
		</div>
		<div class="image-container">
			<img src="assets/img/enchere.png" alt="Enchère Image">
		</div>
	</div>
<table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>prix</th>
        <th>date</th>
        <th>mission</th>
      </tr>
    </thead>
    <tbody colspan="8">
      <tr *ngFor="let e of list()">
        <td>{{e.id}}</td>
        <td>{{e.prix}}</td>
        <td>{{e.date}}</td>
        <td>{{e.mission.libelle}}</td>
        </tr>
    </tbody>
</table>
</div>
