<div class="background">
	<!-- Menu -->
	<div id="menu">
		<div id="logo">
			<img src="assets/img/logob.png" alt="Logo" height="80px">
		</div>
		<div id="search">
			<form>
				<span><img src="assets/img/loupe.png" alt="recherche"></span>
				<input type="text" placeholder="Rechercher...">
				<button type="submit"><img src="assets/img/submit.png" alt="Submit"></button>
			</form>
		</div>

		<div id="icons">
			<a href="#" class="menu-link"><img src="assets/img/menu_accueil.png" alt="Accueil"
					class="overlay-accueil"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_enchere.png" alt="Enchères"
					class="overlay-enchere"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_missions.png" alt="Mission"
					class="overlay-mission"></a>
			<a href="#" class="menu-link"><img src="assets/img/menu_plus.png" alt="Plus" class="overlay-plus"></a>
		</div>
	</div>
	<div class="container">
		<div class="text-container">
		{{compte.prenom}} {{compte.nom}}
		</div>
		<div class="text-container">
			Vos missions 
		</div>
		<div class="image-container">
			<img src="assets/img/enchere.png" alt="Enchère Image">
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<!-- <th>Numero</th> -->
				<th>Libelle</th>
				<th>Duree (jours)</th>
				<th>Lieu</th>
				<th>Difficulté</th>
				<th>Proposée le</th>
				<th>Statut</th>
			</tr>
		</thead>
		<tbody colspan="8">
			<tr *ngFor="let m of list()">
				<!-- <td>{{m.id}}</td> -->
				<td>{{m.libelle}}</td>
				<td>{{m.duree}}</td>
				<td>{{m.lieu}}</td>
				<td>{{m.difficulte}}</td>
				<td>{{m.date}}</td>
				<td>{{m.statut}}</td>
			</tr>
		</tbody>
	</table>

</div>