<html>

<head>
    <meta charset="utf-8">
    <title>Inscription</title>
</head>

<body>
    <h3>Inscription</h3>
    <table>

        <tr>
            <td>Type de compte</td>
            <td><input required (click)="changeTypeCompte('Pirate')" checked type="radio" name="typeCompte"
                    value="Pirate"> Capitaine
                <input required (click)="changeTypeCompte('Client')" type="radio" name="typeCompte" value="Client">
                Client
            </td>
        </tr>
    </table>

    <form id="pirateForm" [formGroup]="pirateInscriptionForm" (ngSubmit)="inscription('Pirate')">

        <div id="content">

            <div id="addFormCompte" class="form-group">


                <table>


                    <tr>
                        <td>Login : </td>
                        <td><input required type="text" class="form-control" id="login" formControlName="login"
                                placeholder="Saisir le login"></td>
                        <span *ngIf="pirateLoginCtrl.dirty && pirateLoginCtrl?.hasError('required')"
                            class="text-danger">
                            Le login est obligatoire
                        </span>
                    </tr>

                    <tr>
                        <td>Email : </td>
                        <td><input required type="text" class="form-control" id="email" formControlName="email"
                                placeholder="Saisir votre adresse email"></td>
                        <span *ngIf="pirateEmailCtrl.dirty && pirateEmailCtrl?.hasError('required')"
                            class="text-danger">
                            L'email est obligatoire
                        </span>
                        <span *ngIf="pirateEmailCtrl.dirty && pirateEmailCtrl?.hasError('email')" class="text-danger">
                            L'email est invalide
                        </span>
                    </tr>
                    <tr>
                        <td>Password :</td>
                        <td> <input required type="password" class="form-control" id="password"
                                formControlName="password" placeholder="saisir le mot de passe">min 8 carac, 1 maj ou 1 carac spécial
                            </td>
                        <span *ngIf="piratePasswordCtrl.dirty && piratePasswordCtrl?.hasError('required')"
                            class="text-danger">
                            Le mot de passe est obligatoire
                        </span>
                        <span *ngIf="piratePasswordCtrl.dirty && piratePasswordCtrl?.hasError('pattern')"
                            class="text-danger">
                            Le mot de passe n'est pas au bon format
                        </span>
                    </tr>
                    <td>Confirmation du password :</td>
                    <td> <input required type="password" class="form-control" id="passwordConfirm"
                            formControlName="passwordConfirm" placeholder="saisir le mot de passe"></td>
                            <span *ngIf="piratePasswordCtrl.value != piratePasswordConfirmCtrl.value"
                            class="text-danger">
                            Le mot de passe et sa confirmation ne correspondent pas
                        </span>
                    <tr>
                        <td>Age</td>
                        <td><input required type="number" class="form-control" id="age" formControlName="age"></td>
                        <span *ngIf="pirateAgeCtrl.dirty && pirateAgeCtrl?.hasError('pattern')" class="text-danger">
                            L'âge est obligatoire
                        </span>
                    </tr>
                    <tr id="inputPseudonyme">
                        <td>Pseudonyme :</td>
                        <td> <input required type="text" class="form-control" id="pseudonyme" name="pseudonyme"
                                formControlName="pseudonyme" placeholder="Saisir votre pseudonyme"></td>
                        <span *ngIf="piratePseudonymeCtrl.dirty && piratePseudonymeCtrl?.hasError('required')"
                            class="text-danger">
                            Le pseudonyme est obligatoire
                        </span>
                    </tr>
                </table>
                <input class="btn btn-success" type="submit" value="S'inscrire Pirate" [disabled]="pirateInscriptionForm.invalid" 
                >

            </div>

        </div>
    </form>

    <form id="clientForm" [formGroup]="clientInscriptionForm" (ngSubmit)="inscription('Client')">

        <div id="content">

            <div id="addFormCompte" class="form-group">

                <table>

                    <tr>
                        <td>Login : </td>
                        <td><input required type="text" class="form-control" id="login" formControlName="login"
                                placeholder="Saisir le login"></td>
                        <span *ngIf="clientLoginCtrl.dirty && clientLoginCtrl?.hasError('required')"
                            class="text-danger">
                            Le login est obligatoire
                        </span>
                    </tr>

                    <tr>
                        <td>Email : </td>
                        <td><input required type="text" class="form-control" id="email" formControlName="email"
                                placeholder="Saisir votre adresse email"></td>
                        <span *ngIf="clientEmailCtrl.dirty && clientEmailCtrl?.hasError('required')"
                            class="text-danger">
                            L'email est obligatoire
                        </span>
                        <span *ngIf="clientEmailCtrl.dirty && clientEmailCtrl?.hasError('email')" class="text-danger">
                            L'email est invalide
                        </span>
                    </tr>

                    <tr>
                        <td>Password :</td>
                        <td> <input required type="password" class="form-control" id="password"
                                formControlName="password" placeholder="saisir le mot de passe"></td>
                        <span *ngIf="clientPasswordCtrl.dirty && clientPasswordCtrl?.hasError('required')"
                            class="text-danger">
                            Le mot de passe est obligatoire
                        </span>
                        <span *ngIf="clientPasswordCtrl.dirty && clientPasswordCtrl?.hasError('pattern')"
                            class="text-danger">
                            Le mot de passe n'est pas au bon format
                        </span>
                    </tr>
                    <td>Confirmation du password :</td>
                    <td> <input required type="password" class="form-control" id="passwordConfirm"
                            formControlName="passwordConfirm" placeholder="saisir le mot de passe"></td>
                            <span *ngIf="clientPasswordCtrl.value != clientPasswordConfirmCtrl.value"
                            class="text-danger">
                            Le mot de passe et sa confirmation ne correspondent pas
                        </span>
                    <tr>
                        <td>Age </td>
                        <td><input required type="number" class="form-control" id="age" formControlName="age"></td>
                        <span *ngIf="clientAgeCtrl.dirty && clientAgeCtrl?.hasError('required')" class="text-danger">
                            L'age obligatoire
                        </span>
                    </tr>
                    <tr id="inputNom">
                        <td>Nom :</td>
                        <td> <input required type="text" class="form-control" id="nom" name="nom"
                                formControlName="nom" placeholder="Saisir votre nom"></td>
                        <span *ngIf="clientNomCtrl.dirty && clientNomCtrl?.hasError('required')"
                            class="text-danger">
                            Le nom est obligatoire
                        </span>
                    </tr>
                    <tr id="inputPrenom">
                        <td>Prenom :</td>
                        <td> <input required type="text" class="form-control" id="prenom" name="prenom"
                                formControlName="prenom" placeholder="Saisir votre prenom"></td>
                        <span *ngIf="clientPrenomCtrl.dirty && clientPrenomCtrl?.hasError('required')"
                            class="text-danger">
                            Le prenom est obligatoire
                        </span>
                    </tr>
                </table>
                <input class="btn btn-success" type="submit" value="S'inscrire Client" [disabled]="clientInscriptionForm.invalid">

            </div>

        </div>
    </form>

</body>

</html>