
  <meta charset="UTF-8">
  <title>Enchères</title>
  <link rel="stylesheet" type="text/css" href="encherir.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Livvic&display=swap">

<div class="background1">
  <div id="menu">
    <div id="logo">
      <img src="assets/img/logob.png" alt="Logo" height="80px">
    </div>
    <div id="search">
      <form>
        <span><img src="assets/img/loupe.png" alt="recherche"></span>
        <input type="text" placeholder="Rechercher...">
        <button type="submit"><img src="assets/img/submit.png" alt="Submit"></button>
      </form>
    </div>
    <div id="icons">
      <a href="#" class="menu-link"><img src="assets/img/menu_accueil.png" alt="Accueil" class="overlay-accueil"></a>
      <a href="#" class="menu-link"><img src="assets/img/menu_enchere.png" alt="Enchères" class="overlay-enchere"></a>
      <a href="#" class="menu-link"><img src="assets/img/menu_missions.png" alt="Mission" class="overlay-mission"></a>
      <a href="#" class="menu-link"><img src="assets/img/menu_plus.png" alt="Plus" class="overlay-plus"></a>
    </div>
  </div>
  <div class="background">
    <div class="image-enchere">
    <div class="text-container">
      Enchère
    </div>
    <div class="image-container">
      <img src="assets/img/enchere.png" alt="Enchère Image">
    </div>
    <div class="text-container">
      Et en <img src="assets/img/os.png" height=43px>s
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Libelle</th>
        <th>Duree</th>
        <th>Lieu</th>
        <th>Difficulté</th>
        <th>Proposée le</th>
        <th>Statut</th>
      </tr>
    </thead>
<tbody colspan="8">
      <tr>
        <td>{{mission.id}}</td>
        <td>{{mission.libelle}}</td>
        <td>{{mission.duree}}</td>
        <td>{{mission.lieu}}</td>
        <td>{{mission.difficulte}}</td>
        <td>{{mission.date}}</td>
        <td>{{mission.statut}}</td>
      </tr>
</tbody>
</table>
  <div id="text">
  <h2 class="line-1">Meilleure enchère :</h2>
  <div class="line-2">
    <img src="assets/img/cadre.png" alt="Cadre" style="width: 100px; height: auto;">
    <p>1,000,000,000 <img src="assets/img/bourse.png" alt="bourse"></p>
  </div>
  <p class="line-3">Il reste: 00:00:00</p>
</div>
<div id="search2">
  <form>
    <!-- <span><img src="assets/img/coins.png" alt="recherche" height="45px"></span> -->
    <input type="text" placeholder="Enchérir">
    <button type="submit"><img src="assets/img/submit.png" alt="Submit"></button>
  </form>
</div>


    <div class="container">
      <img src="assets/img/bombe.png" alt="timer" />
      <div class="rectangle"></div>
      <img src="assets/img/explosion.png" alt="explosion" class="explosion" />
    </div>
  </div>
</div>